<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs446_meal_planner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS446_Meal_Planner">
        <activity 
            android:name=".CalenderActivity"
            android:label="@string/Calender"
        ></activity>
        <activity
            android:name=".ViewRecipe"
            android:label="@string/title_activity_view_recipe"
            android:theme="@style/Theme.CS446_Meal_Planner.NoActionBar"></activity>
        <activity
            android:name=".RecipeOverview"
            android:label="@string/title_activity_submit_recipe"
            android:theme="@style/Theme.CS446_Meal_Planner.NoActionBar" />
        <activity
            android:name=".CalenderActivity"
            android:label="@string/Calender" />
        <activity
            android:name=".RecipeCreation"
            android:label="@string/title_activity_recipe_creation"
            android:theme="@style/Theme.CS446_Meal_Planner" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>